/*!custom theme*/
body{background:$background-body;font-family:'Roboto', sans-serif;overflow-x:hidden;}
a{color:$color-theme; text-decoration:none !important;}
.container-inner{margin-left: 7em; margin-right:7em; }
.content{margin-top:3em; margin-bottom: 3em;
.alert{}
/*cards*/
.card{
  margin-bottom: 2em;
  padding-bottom: 1em;
  border:none;
  .card-header{  
    form{
      width: 15em;     
      float: right;
    }
     
    i{
      padding-right: 0.4em;
      color:$color-text-card;
    }    

    background-color: $color-theme;
    color:$color-text-card;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;   
  }  
  .card-body{    
    //card without padding
    &.wsc{
     padding:0;
    }
    .info{
      text-align: center;
    }
  }
}
}
/*pagination*/
.pagination{
  .page-item{
    background-color:$background-navbar;
    .page-item{
      color:color-theme;
    }    
  }
}

/*buttons*/
.btn{
  cursor: pointer;
  &.btn-color{
    color:$color-button;
    background-color:$background-button;
    &:hover{
      opacity: 0.8;
    }
   }
   &.btn-outline-color{
     background-color:$color-theme;
     border-color:$background-button-outline-border;
     text-transform: uppercase;
     font-weight: bold;
     color:$color-button;
     &:hover{
      background-color:$background-button-outline-border;
      color: $color-theme;
     }

   }
}
//input
input:focus { 
  outline: none !important;
  border-color: $color-theme;
  box-shadow: 0 0 10px $color-theme;
}

@media screen and (max-width:900px){
  .container-inner{
    margin-left:2em;
    margin-right: 2em; 
  }
  .card{
    .card-header{
      form{
        float:none;
        display: block;
      }
    }
  }
}
/*multiple dropdown*/
.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}
.btco-menu li > a {
    padding: 10px 15px;
    color: #000;

}

.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
    background: transparent;
    outline: 0;
}


.dropdown-menu .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
}
//Select bootstrap
.bootstrap-select{
  width: 100% !important;
}
table{
  text-transform: uppercase;
}

