//navbar01
#navbar{
  &.home-page{
   // border-bottom: none;    
  }
  @include navbar-border;
  background:$background-navbar !important;
  .navbar-brand{
    img{max-width:100%;max-height:50px;margin:0 auto;margin-right:0.5em; 
    &.icon-color{fill:$icon-color;}
    }
    h1{font-family:'Fjalla One';font-size:1.5em;}
    color:$title-color-navbar;
  }
  .navbar-nav{
    .nav-item{
      .dropdown-menu{
        .dropdown-item{
          font-size: 0.7em !important;
        }
      
      }
    }
    .active{
    .nav-link{color:$color-theme;} 
    }
    .nav-link{

      font-size: 0.7rem !important;
    }
    .nav-link{
      color:$navlink;
      &:hover{
        color:$title-color-navbar-hover;
        
      }
    }
  }
  .nome-blog{
    font-size:3em;
  }  
}
//navbar02
#navbar02{  
  border:none;
  border-bottom: 2px solid $border-color;
  padding:0;
  background:$background-navbar !important;
  .navbar-brand{
    img{max-width:100%;max-height:50px;margin:0 auto;margin-right:0.5em; 
    &.icon-color{fill:$icon-color;}
    }
    h1{font-family:'Fjalla One';font-size:1.5em;}
    color:$title-color-navbar;
  }
 
  .navbar-nav{
    .nav-item{
      .dropdown-menu{
        .dropdown-item{
          font-size: 0.7em !important;
        }      
      }    
      &:hover{
        @include navbar-border;
      }
      .nav-link{
        color:$navlink;
        &:hover{
          color:$navlink-active;
        }
        h6{
          font-size: 0.7rem !important;          
        }
        i{
          font-size: 1.2rem !important;
        }
      }
      border-left: 2px solid $border-color;      
      text-align: center;
      &.active{
        .nav-link{
          color:$navlink-active !important;
          text-decoration: none;          
                  
        }
        @include navbar-border;        
      }
    }
    .active{
    .nav-link{border-color: $color-theme;
      color:$color-theme;} 
    }   
  }
  .nome-blog{
    font-size:3em;
  }  
}

@media screen and (max-width:900px){
  #navbar{    
    .navbar-brand{
      img{  max-width:40%;max-height:30px;margin:0 auto; 
      }
      h1{font-family:'Fjalla One';font-size:0.6em;}
      color:$title-color-navbar;
    }   
  }
  #navbar02{
    padding-top:0.2em; 
    padding-bottom:0.2em;
    .navbar-nav{      
      .nav-item{
        .nav-link{
        text-align: center; 
        display: inline-block;      
        padding-left: 1em;
      }
      }
    }
  }
}