/*navbar 01*/
$background-navbar:rgb(255,255,255);
$title-color-navbar:#000;
$icon-color:#000;
$title-color-navbar-hover:#000;
/*navbar02*/
$border-color:#e4e4e4;
$color-theme:#4285F4;
$background-body:#eaeaea;
$navlink-active:#000;
$navlink:gray;
/*login*/
$background-login:#eaeaea;
$color-text-card:#fff;
$text-color:gray;
/*footer*/
$background-footer:#000;
$color-footer:#f4f4f4;
/*button*/
$background-button:$color-theme;
$color-button:#fff;
$background-button-outline:$color-theme;
$background-button-outline-border:#fff;
/*modals*/
$title-color-modal:#fff;